body {
  font-family: 'Hind', sans-serif;
  padding-top: 60px;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}

a {
  outline: 0;
  color: #151515;
  text-decoration: none;
  -webkit-transition: color 0.15s ease-out;
  transition: color 0.15s ease-out;

  &:hover,
  &:focus {
    outline: 0;
    color: $viral-brand;
    text-decoration: none;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #151515;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1220px) {
  .container {
    width: 1220px;
  }
}

@media (min-width: 1420px) {
  .container {
    width: 1420px;
  }
}
